<div class="card m-5">
  <h5 class="card-header">Рекомендуемое</h5>
  <div class="card-body">
    <h5 class="card-title">Индивидуальные занятия</h5>
    <p class="card-text">Мои уроки проходят в очень легкой обстановке💗</p>
    <a href="#" class="btn btn-danger">Записаться на пробное занятие</a>
  </div>
</div>
