<div class="navbar">
  <div class="nav-logo">
    <img src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg" alt="">
  </div>
  <div class="nav-menu">
    <ul class="menu-items">
      <li>menu</li>
      <li>menu</li>
      <li>menu</li>
    </ul>
  </div>
</div>
